{% extends "base.html" %}

{% block title %}
    Create product
{% endblock %}

{% block extra_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'shopapp/css/create-product.css' %}">
{% endblock %}

{% block main %}
<div class="create-product-container">
    <h1>Create Product</h1>
    
    <form method="post" class="create-product-form" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="submit-button">Create Product</button>
    </form>

    <div class="back-link">
        <a href="{% url 'shopapp:products_list' %}">← Back to Products List</a>
    </div>
</div>
{% endblock %}